@import 'global/utils/_init';

// NOTE: Some styles diverge to mirror WWW
.outer {
  padding-top: 40px;
  overflow: hidden;
  background: $color-footer-gradient;
  border-bottom: 8px solid var(--color-pa-sky);

  @include breakpoint($bp-tablet) {
    padding: 80px 0 0;
  }

  @media print {
    display: none;
  }
}

.inner {
  @include container;
  margin-left: 36px;
  margin-right: 36px;
}

.content {
  // Sass Lint doesn't support `grid-template-areas` multiline expressions.
  // sass-lint:disable-block indentation, trailing-semicolon
  @include full-grid-mobile;
  position: relative;
  margin: auto;
  grid-template-areas:
    'left left left left '
    'right right right right'
    'bottom bottom bottom bottom';

  @include breakpoint($bp-tablet) {
    @include full-grid-tablet;
    grid-template-areas:
      'left left left left left left left left '
      'right right right right right right right right'
      'bottom bottom bottom bottom bottom bottom bottom bottom';
  }

  @include breakpoint($bp-desktop) {
    @include full-grid-desktop;
    grid-template-areas:
      'left left left left right right right right right right right right'
      'bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom';
  }
}

.left {
  grid-area: left;
  text-align: center;

  @include breakpoint($bp-tablet) {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  @include breakpoint($bp-desktop) {
    flex-direction: column;
  }
}

.right {
  grid-area: right;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 40px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: -50%;
    width: 200%;
    border-bottom: 1px solid var(--color-beaver-blue);

    @include breakpoint($bp-desktop) {
      display: none;
    }
  }
}

.column {
  width: 50%;
  margin-bottom: 80px;
  padding-top: 40px;

  @include breakpoint($bp-tablet) {
    width: 25%;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  grid-area: bottom;
  grid-template-areas:
    'contact contact contact contact'
    'logo logo logo logo'
    'sublinks sublinks sublinks sublinks';
  text-align: center;

  @include breakpoint($bp-tablet) {
    @include full-grid-tablet;
    grid-template-areas:
      'logo logo contact contact contact contact contact contact'
      'logo logo sublinks sublinks sublinks sublinks sublinks sublinks';
  }

  @include breakpoint($bp-desktop) {
    @include full-grid-desktop;
    grid-template-areas:
      'logo logo logo logo contact contact contact contact contact contact contact contact'
      'logo logo logo logo sublinks sublinks sublinks sublinks sublinks sublinks sublinks sublinks';
  }

  .link {
    font-weight: normal;
  }
}

.linksTitle {
  font-size: 18px;
  font-weight: var(--font-weight-xbold);
  text-transform: uppercase;
  color: var(--color-white-out);
}

.linksContainer {
  padding: 0;
  list-style: none;
}

.linkContainer {
  margin-bottom: 16px;
}

.link {
  color: var(--color-slate-light);
  font-family: var(--font-family-condensed);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid var(--color-slate-light);
    text-decoration: none;
  }
}

.noLink {
  &:hover {
    border-bottom: none;
  }
}

.subscribeLinksContainer {
  margin: 0 auto;

  @include breakpoint($bp-tablet) {
    margin: 0;
    width: 50%;
  }

  @include breakpoint($bp-desktop) {
    width: 100%;
  }
}

.subscribeLinks {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 28px;
  margin-bottom: 28px;
  border-bottom: 1px dashed var(--color-beaver-blue);
  list-style: none;
}

.subscribeItem {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.subscribeLink {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;

  &:hover svg {
    fill: rgba(var(--color-pa-link-light--rgb), 0.8);
  }

  svg {
    width: 40px;
    fill: var(--color-pa-link-light);
  }
}

.socialName {
  @include visually-hidden;
}

.empty {
  display: none;
}

.newsLetterButton {
  padding: 12px 16px 12px 24px;
  font-size: 16px;
  font-weight: var(--font-weight-xbold);
  color: var(--color-pa-link-light);
  border-color: var(--color-white-out);

  &:hover {
    color: var(--color-pa-link);
    background: var(--color-pa-link-light);
  }
}

.newsLetterTitle {
  @include section-title($with-slashes: true);
  @include title-xxsmall;
  margin-bottom: 20px;
  padding-left: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--color-white-out);

  @include breakpoint($bp-tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.mapContainer {
  @include breakpoint($bp-tablet) {
    width: 50%;
  }

  @include breakpoint($bp-desktop) {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: -50%;
    width: 200%;
    border-bottom: 1px solid var(--color-beaver-blue);

    @include breakpoint($bp-tablet) {
      display: none;
    }
  }
}

.map {
  position: relative;
  margin: 0 auto 40px;

  @include breakpoint($bp-tablet) {
    margin-bottom: 0;
  }
}

.contact {
  grid-area: contact;
  order: -1;

  &::before {
    content: '';
    position: absolute;
    display: block;
    margin-top: -10px;
    left: -50%;
    width: 200%;
    border-bottom: 1px solid var(--color-beaver-blue);

    @include breakpoint($bp-tablet) {
      border: none;
    }
  }
}

.contactLinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 0;
  font-size: 14px;

  @include breakpoint($bp-tablet) {
    justify-content: flex-start;
  }

  li {
    margin: 12px 0;
    padding: 0 16px;
    border-left: 1px solid var(--color-slate);

    @include breakpoint($bp-tablet) {
      margin: 0;

      &:first-child {
        padding-left: 0;
      }
    }

    .link {
      font-weight: var(--font-weight-bold);
      color: $color-white-out;
    }
  }

  li:first-of-type {
    border-left: none;
  }

  li:last-of-type {
    border-right: none;
  }
}

.legalLinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 0;

  @include breakpoint($bp-tablet) {
    justify-content: flex-start;
    margin-left: 0;
    border-bottom: 1px dashed var(--color-beaver-blue);
  }

  li {
    margin: 12px 0;
    padding: 0 16px;
    border-left: 1px solid var(--color-slate);

    @include breakpoint($bp-tablet) {
      margin: 0;
    }

    &:first-of-type {
      padding-left: 0;
      border-left: none;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.footerLogoContainer {
  grid-area: logo;
  margin: 60px auto 20px;
  width: 191px;

  @include breakpoint($bp-tablet) {
    margin: 40px 0 0;
    width: 147px;
  }

  @include breakpoint($bp-desktop) {
    margin-top: 36px;
    width: 100%;
  }
}

.footerLogo {
  @include breakpoint($bp-desktop) {
    float: right;
    margin-right: 36px;
    width: 164px;
  }
}

.subFooterLinks {
  grid-area: sublinks;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px 0 8px;

  @include breakpoint($bp-tablet) {
    margin-bottom: 20px;
  }

  a {
    font-size: 14px;
  }
}

.copyright {
  font-size: 14px;
  color: var(--color-slate-light);

  @include breakpoint($bp-tablet) {
    padding-right: 16px;
    margin-right: 16px;
    margin-bottom: 0;
    border-right: 1px solid var(--color-slate);
  }
}

.copyrightContainer {
  display: flex;
  align-items: center;
  padding: 8px 0;
  width: 100%;

  @include breakpoint($bp-tablet-dwn) {
    flex-direction: column;
  }
}

.image {
  max-width: 100%;
}

.weAre {
  margin: 60px 0 12px;
  width: 206px;
  height: 16px;

  @include breakpoint($bp-tablet) {
    margin: 0;
    width: 168px;
  }
}
