@import 'fonts.css';

ul {
  list-style-type: square;
  color: #009cde;
}
* {
  transition: all 0.2s ease-out;
}
a {
  cursor: pointer;
  color: #005fa9;
  font-family: 'roboto-bold';
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto-bold';
}
p {
  font-family: 'roboto-regular';
  color: #444444;
  line-height: 33px;
  font-size: 23px;
  font-weight: 400;
}
h2,
h1 {
  color: #444444;
}
h1 {
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 32px;
  line-height: 59px;
}
h2 {
  font-size: 22px;
  margin-bottom: 32px;
}

input {
  border-radius: 0px;
  border: 1px solid #e4e4e4;
  background-color: #f9f9f9;
  color: #444444 !important;
}
