/** @jsx jsx */
import { jsx, Styled } from 'theme-ui';
import React from 'react';
import theme from '../../gatsby-plugin-theme-ui';

export const {{pascalCase name}} = ({props}) => { 
    return (
<div>This is the {{pascalCase name}} component</div>
); };

