/** @jsx jsx */
import { jsx } from 'theme-ui';
import React from 'react';

export const {{pascalCase name}} = ({props}) => { 
    return (
<div>This is the {{pascalCase name}} component</div>
); };

